body h1 {
  //color: red;
  //background-color: #0b2e13;
}

h3{
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;

}

//#17a2b8
$main-color: #17a2b8;
.mess__items_pagination {

  .page-item {
    .page-link,
    .page-numbers {
      position: relative;
      float: left;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin: 0 5px;
      padding: 5px 0;
      line-height: 25px;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      background-color: #c7c7c8;
      color: white;
      border: none;
      transition: all .2s ease-in-out;
      cursor: pointer;
      &.prev,
      &.jp-previous,
      &.next,
      &.jp-next {
        background-color: white;
        color: #c7c7c8;
        font-size: 0;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.11);
        i {
          font-size: 25px;
        }
      }
      &.prev,
      &.jp-previous {
        padding-right: 2px;
      }
      &.next,
      &.jp-next {
        padding-left: 4px;
      }
      &:hover,
      &:focus {
        background-color: $main-color;
        color: white;
      }
      &.active,
      &.current,
      &.jp-current {
        background-color: $main-color;
        cursor: default;
      }

      &.jp-disabled {
        display: none;
      }
    }
    &:first-child {
      .page-link,
      .page-numbers {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        margin-left: 0;
      }
    }
    &:last-child {
      .page-link,
      .page-numbers {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        margin-right: 0;
      }
    }
    &:last-child,
    &:first-child {
      .page-link,
      .page-numbers {

      }
    }
    .page-gap {
      padding: 12px 0;
      margin: 0 6px;
      font-size: 0;
      > div {
        width: 11px;
        height: 11px;
        background-color: #c7c7c8;
        margin-right: 10px;
        border-radius: 50%;
        display: inline-block;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media (max-width: 767px) {
      .page-link,
      .page-numbers {
        margin: 0 3px;
      }
      .page-gap {
        margin: 0 3px;
        > div {
          margin-right: 5px;
        }
      }
    }

    @media (max-width: 575px) {
      .page-link,
      .page-numbers {
        width: 30px;
        height: 30px;
        padding: 5px 0;
        line-height: 20px;

        &.prev,
        &.jp-previous,
        &.next,
        &.jp-next {
          i {
            font-size: 20px;
          }
        }
      }
      .page-gap {
        padding: 13px 0;
        > div {
          margin-right: 2px;
          width: 4px;
          height: 4px;
        }
      }
    }
  }

}

//test



$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;




.chat {
  //width: 490px;
  //float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .cont-btn-comm{
    overflow: hidden;
    margin-bottom: 20px;
  }

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;

    ul{
      li{
        list-style: none;
      }
    }

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

