h3 {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif; }

.mess__items_pagination .page-item .page-link,
.mess__items_pagination .page-item .page-numbers {
  position: relative;
  float: left;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px 0;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background-color: #c7c7c8;
  color: white;
  border: none;
  transition: all .2s ease-in-out;
  cursor: pointer; }
  .mess__items_pagination .page-item .page-link.prev, .mess__items_pagination .page-item .page-link.jp-previous, .mess__items_pagination .page-item .page-link.next, .mess__items_pagination .page-item .page-link.jp-next,
  .mess__items_pagination .page-item .page-numbers.prev,
  .mess__items_pagination .page-item .page-numbers.jp-previous,
  .mess__items_pagination .page-item .page-numbers.next,
  .mess__items_pagination .page-item .page-numbers.jp-next {
    background-color: white;
    color: #c7c7c8;
    font-size: 0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.11); }
    .mess__items_pagination .page-item .page-link.prev i, .mess__items_pagination .page-item .page-link.jp-previous i, .mess__items_pagination .page-item .page-link.next i, .mess__items_pagination .page-item .page-link.jp-next i,
    .mess__items_pagination .page-item .page-numbers.prev i,
    .mess__items_pagination .page-item .page-numbers.jp-previous i,
    .mess__items_pagination .page-item .page-numbers.next i,
    .mess__items_pagination .page-item .page-numbers.jp-next i {
      font-size: 25px; }
  .mess__items_pagination .page-item .page-link.prev, .mess__items_pagination .page-item .page-link.jp-previous,
  .mess__items_pagination .page-item .page-numbers.prev,
  .mess__items_pagination .page-item .page-numbers.jp-previous {
    padding-right: 2px; }
  .mess__items_pagination .page-item .page-link.next, .mess__items_pagination .page-item .page-link.jp-next,
  .mess__items_pagination .page-item .page-numbers.next,
  .mess__items_pagination .page-item .page-numbers.jp-next {
    padding-left: 4px; }
  .mess__items_pagination .page-item .page-link:hover, .mess__items_pagination .page-item .page-link:focus,
  .mess__items_pagination .page-item .page-numbers:hover,
  .mess__items_pagination .page-item .page-numbers:focus {
    background-color: #17a2b8;
    color: white; }
  .mess__items_pagination .page-item .page-link.active, .mess__items_pagination .page-item .page-link.current, .mess__items_pagination .page-item .page-link.jp-current,
  .mess__items_pagination .page-item .page-numbers.active,
  .mess__items_pagination .page-item .page-numbers.current,
  .mess__items_pagination .page-item .page-numbers.jp-current {
    background-color: #17a2b8;
    cursor: default; }
  .mess__items_pagination .page-item .page-link.jp-disabled,
  .mess__items_pagination .page-item .page-numbers.jp-disabled {
    display: none; }
.mess__items_pagination .page-item:first-child .page-link,
.mess__items_pagination .page-item:first-child .page-numbers {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-left: 0; }
.mess__items_pagination .page-item:last-child .page-link,
.mess__items_pagination .page-item:last-child .page-numbers {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  margin-right: 0; }
.mess__items_pagination .page-item .page-gap {
  padding: 12px 0;
  margin: 0 6px;
  font-size: 0; }
  .mess__items_pagination .page-item .page-gap > div {
    width: 11px;
    height: 11px;
    background-color: #c7c7c8;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block; }
    .mess__items_pagination .page-item .page-gap > div:last-child {
      margin-right: 0; }
@media (max-width: 767px) {
  .mess__items_pagination .page-item .page-link,
  .mess__items_pagination .page-item .page-numbers {
    margin: 0 3px; }
  .mess__items_pagination .page-item .page-gap {
    margin: 0 3px; }
    .mess__items_pagination .page-item .page-gap > div {
      margin-right: 5px; } }
@media (max-width: 575px) {
  .mess__items_pagination .page-item .page-link,
  .mess__items_pagination .page-item .page-numbers {
    width: 30px;
    height: 30px;
    padding: 5px 0;
    line-height: 20px; }
    .mess__items_pagination .page-item .page-link.prev i, .mess__items_pagination .page-item .page-link.jp-previous i, .mess__items_pagination .page-item .page-link.next i, .mess__items_pagination .page-item .page-link.jp-next i,
    .mess__items_pagination .page-item .page-numbers.prev i,
    .mess__items_pagination .page-item .page-numbers.jp-previous i,
    .mess__items_pagination .page-item .page-numbers.next i,
    .mess__items_pagination .page-item .page-numbers.jp-next i {
      font-size: 20px; }
  .mess__items_pagination .page-item .page-gap {
    padding: 13px 0; }
    .mess__items_pagination .page-item .page-gap > div {
      margin-right: 2px;
      width: 4px;
      height: 4px; } }

.chat {
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651; }
  .chat .cont-btn-comm {
    overflow: hidden;
    margin-bottom: 20px; }
  .chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white; }
    .chat .chat-header img {
      float: left; }
    .chat .chat-header .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px; }
    .chat .chat-header .chat-with {
      font-weight: bold;
      font-size: 16px; }
    .chat .chat-header .chat-num-messages {
      color: #92959E; }
    .chat .chat-header .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px; }
  .chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white; }
    .chat .chat-history ul li {
      list-style: none; }
    .chat .chat-history .message-data {
      margin-bottom: 15px; }
    .chat .chat-history .message-data-time {
      color: #a8aab1;
      padding-left: 6px; }
    .chat .chat-history .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative; }
      .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86BB71;
        border-width: 10px;
        margin-left: -10px; }
    .chat .chat-history .my-message {
      background: #86BB71; }
    .chat .chat-history .other-message {
      background: #94C2ED; }
      .chat .chat-history .other-message:after {
        border-bottom-color: #94C2ED;
        left: 93%; }
  .chat .chat-message {
    padding: 30px; }
    .chat .chat-message textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none; }
    .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer; }
    .chat .chat-message button {
      float: right;
      color: #94C2ED;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8; }
      .chat .chat-message button:hover {
        color: #75b1e8; }

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px; }

.online {
  color: #86BB71; }

.offline {
  color: #E38968; }

.me {
  color: #94C2ED; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.float-right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/*# sourceMappingURL=custom-page.css.map */
